@(msgErro: String)

<html>
<body>
<h1> Monster Clicker v1.0 </h1>
<pre>


              ___
             ///~`     |\\_                      =\\\\         . .
            ,  |='  ,))\_| ~-_                    _)  \      _/_/|
           / ,' ,;((((((    ~ \                  `~~~\-~-_ /~ (_/\
         /' -~/~)))))))'\_   _/'                      \_  /'  D   |
        (       (((((( ~-/ ~-/                          ~-;  /    \--_
         ~~--|   ))''    ')  `                            `~~\_    \   )
             :        (_  ~\           ,                    /~~-     ./
              \        \_   )--__  /(_/)                   |    )    )|
    ___       |_     \__/~-__    ~~   ,'      /,_;,   __--(   _/      |
  //~~\`\    /' ~~~----|     ~~~~~~~~'        \-  ((~~    __-~        |
((()   `\`\_(_     _-~~-\                      ``~~ ~~~~~~   \_      /
 )))     ~----'   /      \                                   )       )
  (         ;`~--'        :                                _-    ,;;(
            |    `\       |                             _-~    ,;;;;)
            |    /'`\     ;                          _-~          _/
           /~   /    |    )                         /;;;''  ,;;:-~
          |    /     / | /                         |;;'   ,''
          /   /     |  \\|                         |   ,;(
        _/  /'       \  \_)                   .---__\_    \,--._______
       ( )|'         (~-_|                   (;;'  ;;;~~~/' `;;|  `;;;\
        ) `\_         |-_;;--__               ~~~----__/'    /'_______/
        `----'       (   `~--_ ~~~;;------------~~~~~ ;;;'_/'
                     `~~~~~~~~'~~~-----....___;;;____---~~

</pre>
<h3>
<br>
<p style="color: red"> @msgErro </p>
<br>

Não começou a jogar ainda? Comece agora! <br>
<form action="/new" method="get">
	<input type="submit" name="submit" value="QUERO JOGAR!" />
</form>


Já tem um monstro? Entre com o Id de seu monstro e continue seu jogo!<br>
<form action="/login" method="post">
	Id: <input type="text" name="mId"/>
	<input type="submit" name="submit" value="Entrar" />
</form>

</h3>




</body>
</html>
