@(monstro: Monstro, habilidades: List[Habilidade])




<html>
  <head>
   </head>
  <body>
    <h1>
      @{monstro.getNome()} 
<form action="/monstro/@{monstro.getId()}" method="get">
	<input type="submit" name="submit" value="Ver monstro" />
</form>
		
    </h1>
	<br>
	<h2>
		Energia atual: @monstro.getEnergia
		<br> STR: @{monstro.getStr()} || DEX: @{monstro.getDex()} || WIS: @{monstro.getWis()} <br>
	</h2>

    @for( hab <- habilidades) {
       <h2>
         @hab.getNome() <br>
         Custo: @hab.getCusto() <br>
         Dano: @hab.getDano() <br>
		STR mínima: @{hab.getMinStr()} || DEX mínima: @{hab.getMinDex()} || WIS mínima: @{hab.getMinWis()}
	

    @if(monstro.podeComprar(hab)){
	<form action="/compra" method="post">
      <input type="hidden" name="mId" value="@monstro.getId()" />
       <input type="hidden" name="habId" value="@hab.getId()" />
      <input type="submit" name="submit" value="Compra"/>
    </form>
    } else {
       <p style="color: red"> Impossível comprar </p>
        <br>
    }
       </h2>

	----------------------------------------------------------------------
  }
  </body>
</html>

