@(monstro: Monstro, geradores: List[Gerador])


<html>
  <head>
   </head>
  <body>
    <h1>
      @{monstro.getNome()} <br>
<form action="/monstro/@{monstro.getId()}" method="get">
	<input type="submit" name="submit" value="Ver monstro" />
</form>
	Sua energia: @monstro.getEnergia()
	<br>

    </h1>

    @for( ger <- geradores) {
       <h2>
         @ger.getNome() <br>
         Custo: @ger.getCusto() <br>
         Energia/Unidade de tempo: @ger.getEnergiaPorUni() <br>

    @if(monstro.podeComprar(ger)){
	<form action="/compra2" method="post">
      <input type="hidden" name="mId" value="@monstro.getId()" />
       <input type="hidden" name="gerId" value="@ger.getId()" />
      <input type="submit" name="submit" value="Compra"/>
    </form>
    } else {
       <p style="color: red"> Sem energia o suficiente </p>
        <br>
    }
       </h2>
  }
  </body>
</html>

