@(monstro: Monstro)

<html>
<head>
<script>


  
	function adiciona() {
		var contador = document.getElementById("contador"); 
	// Define objeto
		var valor	= contador.innerHTML; // Pega valor do campo hidden
		valor = parseInt(valor) + 1; 
	// Tranforma valor do campo hidden em numérico e adicona um
		contador.innerHTML = valor.toString(); // Altera valor do contador
		document.getElementById("pontos").value= valor.toString();
	}

	function ini(){
	   var contador = document.getElementById("contador"); 
	   contador.innerHTML = "0";
	   var intervalID = setInterval(adiciona, 1000);
	   document.getElementById("pontos").value='0'

	}

</script>
</head>
<body onload="ini()">
<h1>
 @monstro.getNome()
</h1>
Energia: @monstro.getEnergia()
<br><br><br>


Energia sendo gerada:
<h2>

<form action="/hue/absorve" method="post">
	<p id="contador"></p>
	<input type="hidden" name="mId" value="@monstro.getId()"/>
	<input type="hidden" name="pontos" id="pontos"/>

	
    <input type="submit" name="submit" value="VEM MONSTRO" />
</form>

<button onclick="adiciona()">FRY </button>

<h2>
</body>
</html>

