@(monstro: Monstro)

<html>
  <head>
    <script> 

      var bAtributos = [];
      var energPorUni = @monstro.getEnergiaPorUni();

      function manutencao()
      {
      for(i = 0; i < bAtributos.length; i++)
      {
	if(@monstro.getEnergia() >= bAtributos[i][1])
	{
	    bAtributos[i][0].disabled = false;
	}
	else
	{
	    bAtributos[i][0].disabled = true;
	}
	}
	adiciona(energPorUni);

	}



	function adiciona( x) {
	var contador = document.getElementById("contador"); 
	// Define objeto
	var valor	= contador.innerHTML; // Pega valor do campo hidden
	valor = parseInt(valor) + x; 
	// Tranforma valor do campo hidden em numérico e adicona um
	contador.innerHTML = valor.toString(); // Altera valor do contador
	document.getElementById("pontos").value= valor.toString();
	}


	function ini(){
	var contador = document.getElementById("contador"); 
	contador.innerHTML = "0";
	var intervalID = setInterval(manutencao, 1200);
	document.getElementById("pontos").value='0';
	bAtributos[0] = [ document.getElementById("bStr") , @monstro.custoAtributo(Monstro.Atributo.STR) ];
	bAtributos[1] = [ document.getElementById("bDex") , @monstro.custoAtributo(Monstro.Atributo.DEX) ];
	bAtributos[2] = [ document.getElementById("bWis") , @monstro.custoAtributo(Monstro.Atributo.WIS) ];
	manutencao();
	}

    </script>
  </head>
  <body onload="ini()">
    <h1>
      @monstro.getNome()<br>
	  ID: @monstro.getId()
    </h1>
    Energia: @monstro.getEnergia()
    <br><br><br>

    Atributos: <br><br>
    STR: @monstro.getAtributo(Monstro.Atributo.STR)

    <form action="/hue/treina/str" method="post">
      <input type="hidden" name="mId" value="@monstro.getId()" />	
      <input type="submit" name="submit" value="Treina Força (@monstro.custoAtributo(Monstro.Atributo.STR) )" id="bStr"/>
    </form>

    DEX: @monstro.getAtributo(Monstro.Atributo.DEX)
    <form action="/hue/treina/dex" method="post">
      <input type="hidden" name="mId" value="@monstro.getId()"/>	
      <input type="submit" name="submit" value="Treina Destreza(@monstro.custoAtributo(Monstro.Atributo.DEX) )"  id="bDex"/>
    </form>

    WIS: @monstro.getAtributo(Monstro.Atributo.WIS)
    <form action="/hue/treina/wis" method="post">
      <input type="hidden" name="mId" value="@monstro.getId()" />	
      <input type="submit" name="submit" value="Treina Sabedoria (@monstro.custoAtributo(Monstro.Atributo.WIS) )" id="bWis"/>
    </form>

    <br><br>


########################################<br>

	Meu inventário:<br> <br>
 @for( hab <- monstro.getInventario()) {
	@hab.getNome() <br>
}



########################################<br><br>

########################################<br>

	Meus geradores:<br>
    -------------------------------<br>
 @for( gm <- monstro.getListaGeradores()) {
	@gm.getGerador().getNome() <br>
    Quantidade: @gm.getQtd() <br>
    ------------------------------- <br>
}



########################################<br><br>
    Energia sendo gerada: @{monstro.getEnergiaPorUni()}/uni 
    <h2>

      <form action="/hue/absorve" method="post">
	<p id="contador"></p>
	<input type="hidden" name="mId" value="@monstro.getId()"/>
	<input type="hidden" name="pontos" id="pontos"/>

	
	<input type="submit" name="submit" value="Absorver energia gerada" />
      </form>

      <button onclick="adiciona(1)">Gerar 1 de energia </button><br>
  </h2>


<form action="/monstro/@{monstro.getId()}/shop" method="get">
	<input type="submit" name="submit" value="Comprar habilidades" />
</form>

<form action="/monstro/@{monstro.getId()}/shop2" method="get">
	<input type="submit" name="submit" value="Comprar geradores" />
</form>







  </body>
</html>

